.page_banner {
    background-image: url("../../../assets/page_banner.jpg");
    padding: 5rem 0;
    h4 {
        color: white;
    }
}

.mem-form {
    padding: 2.5rem 0;
}

.form-group {
    label {
        font-weight: bold;
        color: #212529;
        font-size: 13px;
    }
}

.boxview {
    padding: 1.5rem;
    border: 1px solid #ced4da;
    border-radius: 10px;
}
@media (min-width: 768px) {
    .flexAlign {
        align-content: flex-end;
        flex-direction: column;
    }
}
