.page_banner {
    background-image: url("../../../assets/page_banner.jpg");
    padding: 5rem 0;
    h2 {
        color: white;
    }
}

.mem-form {
    padding: 5rem 0;
    form {
        padding: 2.5rem 0;
    }
}
