.page_banner {
  background-image: url("../../../assets/about.png");
  padding-top: 4rem;
  padding-bottom: 8rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h2 {
    padding-top: 1rem;
    color: #1e4356;
    text-transform: uppercase;
    font-weight: bold;
    font-size:1.65rem;
  }
}

#top-section {
    position: relative;
    margin-top: 56px;
}

.mem-form {
    padding: 2.5rem 0;
}

.form-group {
    label {
        font-weight: bold;
        color: #212529;
        font-size: 13px;
    }
}

.boxview {
    padding: 1.5rem;
    border: 1px solid #ced4da;
    border-radius: 10px;
}
@media (min-width: 768px) {
    .flexAlign {
        align-content: flex-end;
        flex-direction: column;
    }
}

.btn-custom {
    position: relative;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    padding: 15px 45px;
    background: #3498db;
    font-weight: 400;
    border: none;
    transition: all 300ms ease;
    border: 1px solid #3498db !important;
    &:hover {
        background-color: transparent !important;
        border: 1px solid #3498db !important;
        color: #3498db !important;
        box-shadow: 0 6px 13px rgba(214, 214, 214, 0.75);
    }
}
