<div class="page_banner">
    <div class="container">
        <h2>About Us</h2>
    </div>
</div>

<section class="aboutus-sec">
    <div class="container">
        <div class="aboutus">
            <p>Established since 2013, AK Universal Concept (AKUC) was founded to uplift the living standards and create
                opportunities to improve the earnings of low and average income earners and educating the target group
                on surrounding risk factors such as :</p>
            <ul class="list-group list-group-flush ">
                <li class="list-group-item">Poor health (consuming unhealthy & imbalanced food, exposure to air & water
                    pollution and infections)</li>
                <li class="list-group-item">Lack of knowledge (ignorance on general knowledge leading to failure in
                    managing one’s life )</li>
                <li class="list-group-item">Wealth (insufficient income leading to inadequacy to manage life with ease)
                </li>
                <li class="list-group-item">Happiness (unable to live happily with the family due to pressures of the
                    mind and anxiety)</li>
                <li class="list-group-item">Inadequate leadership skills (lost status as head of the family & integrity
                    in the community to failure in maintaining a happy lifestyle)</li>
            </ul>
            <p>The target group will enjoy a life changing experience when they are constructively assisted in
                overcoming these factors.
            </p>
            <p>AKUC aims at benefitting individuals and families at national and universal levels, and practices
                legality, accountability and practicability to ensure a user friendly approach to its mission and vision
                goals.
            </p>


        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let image of albumArr; let i=index">
                <div class="card margin-bottom px-2 py-2">
                    <img class="img-fluid" [src]="image.thumb" (click)="open(i)" />
                </div>
            </div>

        </div>
    </div>

</section>
<section class="mission-sec">
    <div class="container">
        <div class="content">
            <div class="sec-title">
                <h2>Our Mission</h2>
            </div>
            <div class="sec-desc">
                <p>To create community awareness on shaping a better lifestyle in Health, Knowledge, Wealth, Happiness
                    and
                    Leadership </p>
            </div>
        </div>
        <div class="image">
            <figure>
                <img src="../../../assets/missionone.png" class="img-fluid" />
            </figure>
        </div>

    </div>
</section>

<section class="vision-sec">
    <div class="container">
        <div class="sec-title">
            <h2>Our Vision</h2>
        </div>
        <div class="sec-desc">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">To Provide an Avenue</li>
                <li class="list-group-item">To Enhance Community</li>
                <li class="list-group-item">Services Nationalwide</li>
            </ul>
        </div>

    </div>
</section>