<section id="top-section">
    <div class="page_banner">
        <div class="container">
            <h2>About Us</h2>
        </div>
    </div>
</section>


<section class="aboutus-sec">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-title">
                            <h4>Our Services Perfectly Customized to uplift the living standards</h4>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="card  mb-4">
                            <div class="card-body">
                                <img class="pb-4 img-fluid" src="../../../assets/seo-service-new-icon2.png">
                                <div class="sec-title">
                                    <h4>Our Vision</h4>
                                </div>
                                <div class="sec-desc">
                                    <p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> To Provide an Avenue
                                    </p>
                                    <p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> To Enhance Community
                                    </p>
                                    <p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Services Nationalwide
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card  mb-4">
                            <div class="card-body">
                                <img class="pb-4 img-fluid" src="../../../assets/seo-service-new-icon6.png">
                                <div class="sec-title">
                                    <h4>Our Mission</h4>
                                </div>
                                <div class="sec-desc">
                                    <p>To create community awareness on shaping a better lifestyle in Health, Knowledge,
                                        Wealth,
                                        Happiness
                                        and
                                        Leadership </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="col-md-6 col-sm-12">
                <img class="img-fluid" src="../../../assets/about-details.png" alt="akuc">
            </div>
        </div>

    </div>
</section>
<section class="details">
    <div class="container">
        <div class="aboutus">
            <div class="content">
                <p>Established since 2013, AK Universal Concept (AKUC) was founded to uplift the living
                    standards
                    and create
                    opportunities to improve the earnings of low and average income earners and educating the target
                    group
                    on surrounding risk factors such as :</p>
            </div>

            <div class="list">

                <p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Poor health (consuming unhealthy &
                    imbalanced
                    food, exposure to air
                    & water
                    pollution and infections)</p>
                <p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Lack of knowledge (ignorance on general
                    knowledge leading to failure
                    in
                    managing one’s life )</p>
                <p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Wealth (insufficient income leading to
                    inadequacy to manage life
                    with ease)
                </p>
                <p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Happiness (unable to live happily with
                    the
                    family due to pressures
                    of the
                    mind and anxiety)</p>
                <p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Inadequate leadership skills (lost status
                    as
                    head of the family &
                    integrity
                    in the community to failure in maintaining a happy lifestyle)</p>
            </div>

            <div class="content">
                <p>The target group will enjoy a life changing experience when they are constructively assisted in
                    overcoming these factors.
                </p>
                <p>AKUC aims at benefitting individuals and families at national and universal levels, and practices
                    legality, accountability and practicability to ensure a user friendly approach to its mission
                    and vision
                    goals.
                </p>
            </div>


        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let image of albumArr; let i=index">
                <div class="card margin-bottom px-2 py-2">
                    <img class="img-fluid" [src]="image.thumb" [alt]="image.caption" (click)="open(i)" />
                </div>
            </div>

        </div>
    </div>

</section>