<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-blue fixed-top">
      <a class="navbar-brand" routerLink="/">AKUC Foundation</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse nav-custom" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home
              <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              What we do
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/universalconcept" routerLinkActive="active">AK Universal Concept</a>
              <a class="dropdown-item" routerLink="/health" routerLinkActive="active">AK Universal Healthcare</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutus" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/team" routerLinkActive="active">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-custom" routerLink="/broadcast" routerLinkActive="active">Broadcast</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-custom" routerLink="/register" routerLinkActive="active">Register</a>
          </li>

        </ul>
      </div>
    </nav>
  </div>

</header>
