<section>
    <div class="page_banner">
        <div class="container">
            <h2>Team</h2>
        </div>
    </div>
</section>
<section class="team-list">
    <div class="container">
        <div class="row">
            <div class="team-block-two col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="mb-0"><img class="img-fluid" src="../../../assets/team1.png" alt=""></figure>
                        <ul class="social-links">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="lower-content">
                        <h4 class="name"><a href="team-single.html">Mdm. Susie Toh Siew Mei</a></h4>
                        <span class="designation">Senior Founder</span>

                        <div class="link-box">
                            <a href="team-single.html"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-block-two col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="mb-0"><img class="img-fluid" src="../../../assets/team5.png" alt=""></figure>
                        <ul class="social-links">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="lower-content">
                        <h4 class="name"><a href="team-single.html">Mr. Palaniandy Mariappan</a></h4>
                        <span class="designation">Junior Founder</span>

                        <div class="link-box">
                            <a href="team-single.html"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-block-two col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="mb-0"><img class="img-fluid" src="../../../assets/team4.png" alt=""></figure>
                        <ul class="social-links">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="lower-content">
                        <h4 class="name"><a href="team-single.html">Mr. Lareswar</a></h4>
                        <span class="designation">North Region Co-ordinator</span>

                        <div class="link-box">
                            <a href="team-single.html"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-block-two col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="mb-0"><img class="img-fluid" src="../../../assets/team3.png" alt=""></figure>
                        <ul class="social-links">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="lower-content">
                        <h4 class="name"><a href="team-single.html">Mdm. Saroja</a></h4>
                        <span class="designation">Central Region Co-ordinator</span>

                        <div class="link-box">
                            <a href="team-single.html"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-block-two col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="mb-0"><img class="img-fluid" src="../../../assets/team2.png" alt=""></figure>
                        <ul class="social-links">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="lower-content">
                        <h4 class="name"><a href="team-single.html">Mdm. Deviga</a></h4>
                        <span class="designation">North Region Co-ordinator</span>

                        <div class="link-box">
                            <a href="team-single.html"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>