.bg-login-image {
    background: url("../../../assets/spices_3.jpg");
    background-position: center;
    background-size: cover;
}

.login-box {
    padding: 7.5rem 2.5rem;
}

section {
    background: #007bff;
    background: linear-gradient(to right, #0062e6, #33aeff);
}
