<section id="top-section" class="banner">
  <div class="container">
    <div class="banner-img">
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <img class="img-fluid" alt="akuc foundation" src="../../../assets/logo.png" />
        </div>
      </div>
    </div>
    <div class="banner-content">
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="quote">
            <h1>Unity is Our Aim</h1>
            <h1>Benevolence is Our Business</h1>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
<section class="kural">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

          <p class="d-flex justify-content-center kural-text">உடைத்தம் வலியறியார் ஊக்கத்தின் ஊக்கி<br>
            இடைக்கண் முரிந்தார் பலர்</p>
          <p><b>குறள் விளக்கம்: </b>தன்னுடைய வலிமை இவ்வளவு என அறியாமல் ஊக்கத்தால் முனைந்து தொடங்கி இடையில் அதை முடிக்க வகையில்லாமல் அழிந்தவர் பலர்</p>
      </div>
    </div>
  </div>
</section>


<section class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 no-gutter">
        <div class="youtube_video">
          <figure>
            <img alt="akuc youtube video" class="img-fluid" src="../../../assets/est.png" />
            <span (click)="open(content)"><i class="fa fa-play" aria-hidden="true"></i></span>
          </figure>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 foundation_title">
        <div class="sec-title">
          <h2>Established Since 2013</h2>
        </div>
        <div class="desc">
          <p>AK Universal Concept (AKUC) was founded to uplift the living standards and create opportunities
            to improve the earnings of low and average income earners and educating the target group on
            surrounding risk factors</p>
        </div>
        <button routerLink="/register" class="btn btn-custom mb-2 mr-2">Register Now</button>
        <a href="https://www.facebook.com/ak.uc.58958" target="_blank" class="btn btn-custom  mb-2 mr-2"><i
            class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://twitter.com/AKUniversalCon1" target="_blank" class="btn btn-custom  mb-2 mr-2"><i
            class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://www.youtube.com/channel/UCHhCrtsU0oUznZEKyG0-6DQ" target="_blank"
          class="btn btn-custom mb-2"><i class="fa fa-youtube" aria-hidden="true"></i></a>
      </div>
    </div>


  </div>
  <ng-template #content let-c="close" let-d="dismiss" class="youtube_model">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body text-center">
      <video class="img-fluid py-4" controls autoplay>
        <source src="../../../assets/moringa.mp4" type="video/mp4">
        <source src="../../../assets/moringa.ogg" type="video/ogg">
        Your browser does not support the video tag.
      </video>
    </div>

  </ng-template>


</section>

<section class="what-we-do">
  <!-- <div class="container mainTitle">
    <div class="sec-title text-center">
      <h2>What We Do</h2>
    </div>
    <div class="row our_concept">
      <div class="col mx-1 col-xs-12">
        <div class="card">
          <div class="card-body" (click)="redirect('concept')">
            <img alt="ak universal concept" src="../../../assets/logo.png">

          </div>
        </div>
      </div>
      <div class="col mx-1 col-xs-12">
        <div class="card">
          <div class="card-body" (click)="redirect('health')">
            <img alt="ak universal healthcare" src="../../../assets/logo_HC.png">
          </div>
        </div>
      </div>

    </div>
  </div> -->

  <div class="container mainTitle">
    <div class="sec-title text-center">
      <h2>How We Do</h2>
    </div>
    <div class="row how_we_do">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-4">
        <div class="card ">
          <div class="card-body">
            <img src="../../../assets/icon1-1.png" alt="akuc">
            <h3>Commitment</h3>
            <p>
              Individual commitment to a group effort - that is what makes a team work, a company work, a
              society work. A civilization work.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-4">
        <div class="card ">
          <div class="card-body">
            <img src="../../../assets/icon2-1.png" alt="akuc">
            <h3>Teamwork</h3>
            <p>
              Teamwork means that we share a common goal. Regardless of our differences, we strike
              shoulder to
              shoulder, confident in one another’s faith, trust and commitment. In the end, teamwork can
              be
              summed up in five short words --‘We believe in each other’.


            </p>
          </div>
        </div>

      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-4">
        <div class="card ">
          <div class="card-body">
            <img src="../../../assets/icon3-1.png" alt="akuc">
            <h3>Communication</h3>
            <p>
              We recognize our leaders as the backbone of our organization because in business today
              success
              depends on giving customers what they want which takes us to the very basis of good
              communication.
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>

</section>
