<section id="top-section" class="banner">
    <div class="container">
        <div class="banner-img">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <img class="img-fluid" alt="akuc foundation" src="../../../assets/logo.png" />
                </div>
            </div>
        </div>
        <div class="banner-content">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <h3>AK Universal Concept</h3>
                    <div class="quote">
                        <h5>Unity is Our Aim</h5>
                        <h5>Benevolence is Our Business</h5>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 no-gutter">
                <div class="youtube_video">
                    <figure>
                        <img alt="akuc youtube video" class="img-fluid" src="../../../assets/aboutus.png" />
                        <span (click)="open(content)"><i class="fa fa-play" aria-hidden="true"></i></span>
                    </figure>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 foundation_title">
                <div class="sec-title">
                    <h2>Established Since 2013</h2>
                </div>
                <div class="desc">
                    <p>AK Universal Concept (AKUC) was founded to uplift the living standards and create opportunities
                        to improve the earnings of low and average income earners and educating the target group on
                        surrounding risk factors</p>
                </div>
                <button routerLink="/aboutus" class="btn btn-custom mb-2 mr-2">Read More</button>
                <a href="https://www.facebook.com/ak.uc.58958" target="_blank" class="btn btn-custom  mb-2 mr-2"><i
                        class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://twitter.com/AKUniversalCon1" target="_blank" class="btn btn-custom  mb-2 mr-2"><i
                        class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/channel/UCHhCrtsU0oUznZEKyG0-6DQ" target="_blank"
                    class="btn btn-custom mb-2"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            </div>
        </div>


    </div>
    <ng-template #content let-c="close" let-d="dismiss" class="youtube_model">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body text-center">
            <youtube-player videoId="82MDlSf48vY" suggestedQuality="highres">
            </youtube-player>
        </div>

    </ng-template>


</section>

<section class="what-we-do">
    <div class="container mainTitle">
        <div class="sec-title text-center">
            <h2>What We Do</h2>
        </div>
        <div class="row our_concept">
            <div class="col mx-1 col-xs-12">
                <div class="card">
                    <div class="card-body" (click)="redirect('concept')">
                        <img alt="ak universal concept" src="../../../assets/logo.png">

                    </div>
                </div>
            </div>
            <div class="col mx-1 col-xs-12">
                <div class="card">
                    <div class="card-body" (click)="redirect('health')">
                        <img alt="ak universal healthcare" src="../../../assets/logo_HC.png">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container mainTitle">
        <div class="sec-title text-center">
            <h2>How We Do</h2>
        </div>
        <div class="row how_we_do">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-4">
                <div class="card ">
                    <div class="card-body">
                        <img src="../../../assets/icon1-1.png" alt="akuc">
                        <h5>Commitment</h5>
                        <p>
                            Individual commitment to a group effort - that is what makes a team work, a company work, a
                            society work. A civilization work.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-4">
                <div class="card ">
                    <div class="card-body">
                        <img src="../../../assets/icon2-1.png" alt="akuc">
                        <h5>Teamwork</h5>
                        <p>
                            Teamwork means that we share a common goal. Regardless of our differences, we strike
                            shoulder to
                            shoulder, confident in one another’s faith, trust and commitment. In the end, teamwork can
                            be
                            summed up in five short words --‘We believe in each other’.


                        </p>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-4">
                <div class="card ">
                    <div class="card-body">
                        <img src="../../../assets/icon3-1.png" alt="akuc">
                        <h5>Communication</h5>
                        <p>
                            We recognize our leaders as the backbone of our organization because in business today
                            success
                            depends on giving customers what they want which takes us to the very basis of good
                            communication.
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="container register">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img alt="akuc youtube video" class="img-fluid" src="../../../assets/join.png" />
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 foundation_title">
                <div class="sec-title">
                    <h2>Discover the advantages of our unique services</h2>
                </div>
                <div class="desc">
                    <p>Nobody plan to fail but many fail to plan so plan your life and live your life as life is what,
                        we make it</p>
                </div>

                <div class="statistic">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <h2>100,000</h2>
                            <p>Satisfied Customer</p>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <h2>10+</h2>
                            <p>Successful Outlets</p>
                        </div>
                    </div>
                </div>
                <div class="register-btn">
                    <button (click)="register()" class="btn btn-custom">Register Now</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="foundation">
    <div class="container-fluid">

    </div>

</section>