.page_banner {
    background-image: url("../../../assets/page_banner.jpg");
    padding: 5rem 0;
    h4 {
        color: white;
    }
}
.con-form {
    padding: 2.5rem 0;
}

.form-group {
    label {
        font-weight: bold;
        color: #212529;
        font-size: 13px;
    }
}
.teamsread {
    text-decoration: underline;
    color: red;
    cursor: pointer;
}
.flexAlign {
    align-content: flex-end;
    flex-direction: column;
}

.form-custom {
    height: calc(1em + 0.75rem + 2px);
    padding: 0rem 0.75rem;
}

.btn-custom {
    position: relative;
    color: #ffffff;
    background: #d94b38;
    font-weight: 400;
    border: none;
}
