.page_banner {
    background-image: url("../../../assets/about.png");
    padding: 5rem 0;
    h4 {
        color: white;
    }
}
#top-section {
    position: relative;
    margin-top: 56px;
}
.con-form {
    padding: 2.5rem 0;
}

.form-group {
    label {
        font-weight: bold;
        color: #212529;
        font-size: 13px;
    }
}
.teamsread {
    text-decoration: underline;
    color: red;
    cursor: pointer;
}
@media (min-width: 768px) {
    .flexAlign {
        align-content: flex-end;
        flex-direction: column;
    }
}

.form-custom {
    height: calc(1em + 0.75rem + 2px);
    padding: 0rem 0.75rem;
}

.btn-custom {
    position: relative;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    padding: 15px 45px;
    background: #3498db;
    font-weight: 400;
    border: none;
    transition: all 300ms ease;
    border: 1px solid #3498db !important;
    &:hover {
        background-color: transparent !important;
        border: 1px solid #3498db !important;
        color: #3498db !important;
        box-shadow: 0 6px 13px rgba(214, 214, 214, 0.75);
    }
}
