<footer>
    <section class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt-4">
                    <h6> About Company</h6>
                    <p>AKUC is a platform to fulfill and establish the nation's dream of achieving a desired lifestyle.
                        AKUC
                        offers you the opportunity to help materialize that dream with your services.</p>
                    <a href="#" class="btn-footer"> Contact Us</a>

                </div>
                <div class="col-md-6 mt-4">
                    <h6>Reach Us</h6>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> Suite 33-01, 33rd Floor, Menara Keck Seng
                        203,
                        Jalan Bukit Bintang, 55100 Kuala Lumpur.</p>
                    <p><span style="margin-right:1rem;"><i class="fa fa-phone" aria-hidden="true"></i>+60 10 219
                            2723</span>
                        <span> <i class="fa fa-phone" aria-hidden="true"></i>+60 11 6437 1021</span></p>
                    <div class="social">
                        <a href="https://www.facebook.com/ak.uc.58958" target="_blank" class="btn-social"><i
                                class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/AKUniversalCon1" target="_blank" class="btn-social"><i
                                class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://www.youtube.com/channel/UCHhCrtsU0oUznZEKyG0-6DQ" target="_blank"
                            class="btn-social"><i class="fa fa-youtube" aria-hidden="true"></i></a>

                    </div>


                </div>
            </div>
        </div>
    </section>

    <section class="copyrights">
        <div class="container">
            <p class="text-center">Copyright AKUC Foundation © 2013. All Rights Reserved</p>
        </div>
    </section>

</footer>
<!-- Footer -->
