<div class="page_banner">
    <div class="container">
        <h2>AK UNIVERSAL HEALTHCARE</h2>
        <p>Organic herbs packed for personal consumption, upon request by AKUC members only.</p>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <img src="../../../assets/spices_3.jpg" alt="ak Health center" class="img-fluid" />
            </div>
            <div class="col-md-4">
                <div class="sec-title">
                    <h2>Health Care</h2>
                </div>
                <div class="desc">
                    <p><b>AK Universal Healthcare</b> has appeared at an opportune moment when most of us have turned
                        away from
                        life’s natural state and when illness has taken a toll on our body, mind and soul. It is now an
                        opportunity for us to revert to naturopathy for more effective health management.</p>
                    <p><b>AK Universal Healthcare</b> guarantees a peaceful mind via effective health measures by way of
                        natural
                        grass root health remedies. Every member of AK Universal Healthcare will benefit from the range
                        of
                        natural remedy products at affordable rates and enjoy free consultation by Ayurvedic and other
                        health care specialist for his/her personal health management.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product">
    <div class="container-fluid no-gutter">
        <div class="sec-title text-center">
            <h2>OUR PRODUCTS</h2>
        </div>
        <div class="d-flex tab-button">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills " orientation="vertical">
                <li ngbNavItem="top">
                    <a ngbNavLink><i class="fa fa-arrow-right" aria-hidden="true"></i><span
                            class="tab-name pl-4">Pleasure</span>
                    </a>
                    <ng-template ngbNavContent>

                        <div class="row">
                            <div class="col-md-6">
                                <h4>Pleasure (Nutrition Drink With Fibre)</h4>
                                <p>Pleasure consists of Psyllium herb (Plantago ovate) that is a shrub- like soluble
                                    fiber with
                                    vegetable and fruit extract used primarily as a gentle bulk forming laxative. When
                                    fibre
                                    comes in contact with water, it swells and forms a gelatin-like mass that helps
                                    transport
                                    waste through the intestinal tract.
                                </p>
                                <img src="../../../assets/healthcare.jpg" alt="" class="img-fluid" />
                            </div>
                            <div class="col-md-6">
                                <video class="img-fluid py-4" controls>
                                    <source src="../../../assets/plesure.mp4" type="video/mp4">
                                    <source src="../../../assets/plesure.ogg" type="video/ogg">
                                    Your browser does not support the video tag.
                                </video>

                            </div>
                            <div class="col-md-12 pt-4">
                                <p>Therefore, maintaining a healthy intestinal tract is the key to general wellness.
                                    Unless you regularly eat whole fruits and vegetables, nuts, and seeds, you may be
                                    missing out on the healthiest forms of fiber to help boost your health. A high -
                                    fibre diet has many benefits which include:</p>
                                <div class="row mx-2">
                                    <ul class="list-group col-md-6">
                                        <li class="list-group-item">Weight Loss</li>
                                        <li class="list-group-item">Heart Health</li>
                                        <li class="list-group-item">Skin Health </li>
                                        <li class="list-group-item">Stroke</li>
                                        <li class="list-group-item">Irritable Bowel Syndrome (IBS)</li>
                                    </ul>
                                    <ul class="list-group col-md-6">
                                        <li class="list-group-item">Hemorrhoids</li>
                                        <li class="list-group-item">Gallstones and kidney stones</li>
                                        <li class="list-group-item">Blood Sugar Control</li>
                                        <li class="list-group-item">Diverticular Disease</li>
                                        <li class="list-group-item">Relief from constipation</li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                    </ng-template>
                </li>
                <li ngbNavItem="middle">
                    <a ngbNavLink><i class="fa fa-arrow-right" aria-hidden="true"></i><span
                            class="tab-name pl-4">ABTN</span></a>
                    <ng-template ngbNavContent>
                        <div class="row">
                            <div class="col-md-6">
                                <h4>ABTN (Anti-Body Toxic Neutralizer)</h4>
                                <p>Curcumin is the principal curcuminoid of turmeric of the popular Indian spice
                                    turmeric, which is a member of the ginger family(Zingiberaceae). The curcuminoids
                                    are natural and responsible for the yellow color of turmeric.
                                </p>
                                <img src="../../../assets/turmeric.jpg" alt="" class="img-fluid" />
                            </div>
                            <div class="col-md-6">
                                <video class="img-fluid py-4" controls autoplay>
                                    <source src="../../../assets/abtn.mp4" type="video/mp4">
                                    <source src="../../../assets/abtn.ogg" type="video/ogg">
                                    Your browser does not support the video tag.
                                </video>

                            </div>
                            <div class="col-md-12 pt-4">
                                <p>Curcumin is the main active ingredient in ABTN. It has powerful anti-inflammatory
                                    effects, is a very strong antioxidant and has antibacterial and antiviral
                                    properties. Some of the health benefits of ABTN include:</p>
                                <div class="row mx-2">
                                    <ul class="list-group col-md-6">
                                        <li class="list-group-item">Stimulates and enhances the immune system</li>
                                        <li class="list-group-item">Preventing and treating Alzheimer’s disease</li>
                                        <li class="list-group-item">Help treat symptoms of Arthritis</li>
                                        <li class="list-group-item">Acne(Pimples)/infection </li>
                                        <li class="list-group-item">Viral infection</li>
                                        <li class="list-group-item">Inflammatory Bowel Disease</li>
                                        <li class="list-group-item">Alzheimer’s Disease/Dementia/Memory Loss</li>
                                        <li class="list-group-item">Diabetes (Type 2)</li>
                                        <li class="list-group-item">Boosts levels of the brain hormone BDNF
                                            (Brain-Derived Neurotrophic Factor) to fight various degenerative processes
                                            in the brain</li>
                                    </ul>
                                    <ul class="list-group col-md-6">
                                        <li class="list-group-item">Alleviating the symptoms of depression</li>
                                        <li class="list-group-item">Contains powerful anti-inflammatory and antioxidant
                                            properties</li>
                                        <li class="list-group-item">Reduces inflammation and oxidation</li>
                                        <li class="list-group-item">Prevention of colon, skin, prostate and breast
                                            cancer</li>
                                        <li class="list-group-item">Liver Tonic</li>
                                        <li class="list-group-item">Wound Healing</li>
                                        <li class="list-group-item">Weight Loss</li>
                                        <li class="list-group-item">Stomach Upset (Dyspepsia)</li>

                                    </ul>
                                </div>

                            </div>
                        </div>

                    </ng-template>
                </li>
                <li ngbNavItem="bottom">
                    <a ngbNavLink><i class="fa fa-arrow-right" aria-hidden="true"></i> <span
                            class="tab-name pl-4">Fenugreek</span></a>
                    <ng-template ngbNavContent>
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Fenugreek</h4>
                                <p>Although Fenugreek is primarily used as a condiment, it is s traditional herb that
                                    has many uses in promoting and balancing health.
                                    Most of the health benefits of fenugreek are due to the presence of saponins and
                                    fiber that it contains.</p>
                                <img src="../../../assets/fenu.jpg" alt="" class="img-fluid" />
                            </div>
                            <div class="col-md-6">
                                <video class="img-fluid py-4" controls autoplay>
                                    <source src="../../../assets/fenu.mp4" type="video/mp4">
                                    <source src="../../../assets/fenu.ogg" type="video/ogg">
                                    Your browser does not support the video tag.
                                </video>

                            </div>
                            <div class="col-md-12 pt-4">
                                <p> Its seeds contain a gumming substance called mucilage and
                                    when mixed with water, mucilage expands and becomes a gelatinous salve for irritated
                                    tissues. Some of the health benefit includes:</p>
                                <div class="row mx-2">
                                    <ul class="list-group col-md-6">
                                        <li class="list-group-item">Libido enhancement for men and women</li>
                                        <li class="list-group-item">Improves Digestion</li>
                                        <li class="list-group-item">Controls Blood Sugar Levels</li>
                                        <li class="list-group-item">Relief for sore throat, pain and cough</li>
                                        <li class="list-group-item">Aid Milk Production In Lactating Women</li>
                                        <li class="list-group-item">Minimizes symptoms of menopause</li>
                                        <li class="list-group-item">Reduces cardiovascular risk</li>
                                        <li class="list-group-item">Prevents colon cancer</li>
                                    </ul>
                                    <ul class="list-group col-md-6">
                                        <li class="list-group-item">Natural breast enlargement</li>
                                        <li class="list-group-item">Improves Skin Problems Inflammation</li>
                                        <li class="list-group-item">Lowers Blood Cholesterol</li>
                                        <li class="list-group-item">Helps in Acid Reflux</li>
                                        <li class="list-group-item">Inducing Birth (stimulate uterine contractions)</li>
                                        <li class="list-group-item">Reduces menstrual discomfort</li>
                                        <li class="list-group-item">Suppress appetite</li>
                                        <li class="list-group-item">Aids in treating constipation and diarrhea</li>

                                    </ul>
                                </div>

                                <p class="pt-4" style="font-weight: bold;">NOTE:- Pregnant and lactating women should
                                    consult a doctor before taking fenugreek
                                </p>

                            </div>
                        </div>
                    </ng-template>
                </li>
                <li ngbNavItem="lower">
                    <a ngbNavLink><i class="fa fa-arrow-right" aria-hidden="true"></i> <span
                            class="tab-name pl-4">Moringa</span></a>
                    <ng-template ngbNavContent>
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Moringa</h4>

                                <img src="../../../assets/moringa.jpg" alt="" class="img-fluid" />
                            </div>
                            <div class="col-md-6">
                                <video class="img-fluid py-4" controls autoplay>
                                    <source src="../../../assets/moringa.mp4" type="video/mp4">
                                    <source src="../../../assets/moringa.ogg" type="video/ogg">
                                    Your browser does not support the video tag.
                                </video>

                            </div>
                        </div>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav" class=" px-4 content"></div>
        </div>
    </div>

</section>