#top-section {
    position: relative;
    margin-top: 56px;
}

.page_banner {
  background-image: url("../../../assets/about.png");
  padding-top: 4rem;
  padding-bottom: 8rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h2 {
    padding-top: 1rem;
    color: #1e4356;
    text-transform: uppercase;
    font-weight: bold;
    font-size:1.65rem;
  }
  p {
    color: #1e4356;
    margin: 0;
    padding: 0;
  }
}
section {
    .sec-title {
        position: relative;

        h2 {
            color: #1e1666;
            font-size: 2rem;
            padding-bottom: 0.5rem;
            &:before {
                position: absolute;
                bottom: 0;
                left: 0;

                margin: 0 auto;
                display: inline-block;
                height: 3px;
                width: 75px;
                background-color: #3498db;
                content: "";
                border-radius: 50%;
            }
        }
    }
    .desc {
        padding: 0.5rem 0;
        text-align: justify;
    }
    .tab-button {
        padding: 2.5rem 0 0 0;

        .nav-pills {
            opacity: 1;
            background-color: #3498db;
            color: #ffffff;
            padding: 7.5rem 0;
            flex: none;
            .nav-link {
                color: #fff;
                border-radius: 0;
                padding: 0.75rem 7rem 0.75rem 3rem;
                .tab-name {
                    font-size: 1.25rem;
                }
            }
            .nav-link.active {
                color: #3498db;
                background-color: #fff;
                .tab-name {
                    font-weight: bold;
                }
            }
        }
        .content {
            padding: 2.5rem 0;
        }
    }
}

.product {
    padding-bottom: 5rem;
    .sec-title {
        h2 {
            color: #1e1666;
            &::before {
                right: 0;
            }
        }
    }
  .custom-margin{
    margin: 5rem -15px;
  }
}

.spices-top {
    padding: 5rem 0;
}
