#top-section {
    position: relative;
    margin-top: 56px;
}
.page_banner {
  background-image: url("../../../assets/about.png");
  padding-top: 4rem;
  padding-bottom: 8rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h2 {
    padding-top: 1rem;
    color: #1e4356;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    font-size:1.65rem;
  }
}

.registration {
    padding: 5rem 0;
    position: relative;
    //background-color: #f8f3e8;

    .card {
        .card-body {
            text-align: center;
            transition: all 300ms ease;
            &:hover {
                background-image: url("../../../assets/header_banner.png");
                box-shadow: 0 6px 13px rgba(214, 214, 214, 0.75);
            }
            h4 {
                margin-bottom: 2.5rem;
            }
        }
    }
}

.btn-custom {
    position: relative;
    font-size: 20px;
    line-height: 22px;
    color: #ffffff;
    padding: 15px 45px;
    background: #3498db;
  font-family: 'Montserrat-Bold';
    border: none;
    transition: all 300ms ease;
    border: 1px solid #3498db !important;
    &:hover {
        background-color: transparent !important;
        border: 1px solid #3498db !important;
        color: #3498db !important;
        box-shadow: 0 6px 13px rgba(214, 214, 214, 0.75);
    }
}
