<section>
    <div class="page_banner">
        <div class="container">
            <h2>Registration</h2>
        </div>
    </div>
</section>
<section class="registration">
    <div class="container">
        <div class="row our_concept">
            <div class="col mx-1 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <h4>AKUC MEMBERSHIP</h4>
                        <button (click)="memberform()" class="btn btn-primary btn-custom">Register Now</button>
                    </div>
                </div>
            </div>
            <div class="col mx-1 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <h4>Become a Consumer</h4>
                        <button (click)="consumerform()" class="btn btn-primary btn-custom">Register Now</button>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>